@font-face {
  src: url('../fonts/Lato-Medium.woff');
  font-family: "Lato";
  font-weight: 400;
}

@font-face {
  src: url('../fonts/Lato-Thin.woff');
  font-family: "Lato";
  font-weight: 300;
}

@font-face {
  src: url('../fonts/Lato-Semibold.woff');
  font-family: "Lato";
  font-weight: 500;
}

@font-face {
  src: url('../fonts/Lato-Bold.woff');
  font-family: "Lato";
  font-weight: 700;
}

@font-face {
  src: url('../fonts/Lato-Heavy.woff');
  font-family: "Lato";
  font-weight: 800;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.e-header {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  background-color: #ffffff;
  z-index: 99;
  transition: all 0.15s ease-out;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__left {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: left;
    margin-right: 140px;
  }
  &__right {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: right;
    margin-left: 140px;
    text-align: right;
  }
  &__logo {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -139px;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
    img {
      transition: all 0.15s ease-out;
    }
  }
  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    a {
      display: inline-block;
      padding: 6px 2px;
      color: #4d4d4d;
      font-size: 18px;
      font-weight: 500;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
  &__phone {
    display: block;
    margin-bottom: 8px;
    padding-left: 40px;
    background: url('../images/icon_phone.png') no-repeat left center;
    color: #4d4d4d;
    font-size: 27px;
    font-weight: 500;
    text-align: right;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__place {
    display: block;
    margin: 0;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
  }
}

.e-top {
  display: block;
  padding: 250px 0 295px 0;
  background: url('../images/top.jpg') no-repeat center;
  background-size: cover;
  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: flex-start;
  }
  &__content {
    display: block;
    width: 100%;
    max-width: 750px;
  }
  &__title {
    display: block;
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.25;
  }
  &__text {
    display: block;
    margin-bottom: 26px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
  }
  &__button {
    display: inline-block;
    padding: 20px 47px;
    border-radius: 999rem;
    box-shadow: 0 24px 29px rgba(172, 91, 129, 0.67);
    background-color: #ffcc00;
    color: #8f4071;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
      text-decoration: none;
    }
  }
}

.e-features {
  display: block;
  padding: 80px 0 0 0;
  background-color: #ffffff;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 275px;
    margin: 0 20px 70px 20px;
    text-align: center;
    img {
      display: block;
      max-width: 100%;
      margin-bottom: 20px;
    }
    &-title {
      display: block;
      margin-bottom: 6px;
      color: #c25778;
      font-size: 16px;
      font-weight: 800;
      line-height: 1.5;
      text-align: center;
      text-transform: uppercase;
    }
    &-text {
      display: block;
      color: #000000;
      font-size: 13px;
      font-weight: 300;
      line-height: 1.5;
      text-align: center;
    }
  }
}

.e-doctors {
  display: block;
  padding: 80px 0 50px 0;
  background: url('../images/peoples_bg.jpg') no-repeat center;
  background-size: cover;
  &__cards {
    display: block;
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
    .slick-prev {
      top: 50%;
      bottom: auto;
      right: auto;
      left: 0;
      width: 26px;
      height: 49px;
      margin-top: -25px;
      margin-left: -100px;
      background: url('../images/icon_prev.png') no-repeat center;
      background-size: contain;
      z-index: 1;
      transform: none;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
    }
    .slick-next {
      top: 50%;
      bottom: auto;
      right: 0;
      left: auto;
      width: 27px;
      height: 49px;
      margin-top: -25px;
      margin-right: -100px;
      background: url('../images/icon_next.png') no-repeat center;
      background-size: contain;
      z-index: 1;
      transform: none;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
    }
  }
  &__card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 30px;
    &-photo {
      display: block;
      width: 380px;
      height: 415px;
      margin-right: 80px;
      border-radius: 3px;
      background-color: #ffffff;
      object-fit: cover;
    }
    &-content {
      display: block;
      padding-right: 20px;
    }
    &-name {
      display: block;
      margin-bottom: 15px;
      color: #fefefe;
      font-size: 30px;
      font-weight: 300;
    }
    &-who {
      display: block;
      margin-bottom: 30px;
      color: #fefefe;
      font-size: 12px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.9px;
    }
    &-text {
      display: block;
      margin-bottom: 28px;
      color: #fffefe;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.4;
    }
    &-papers {
      display: block;
      margin-bottom: 35px;
    }
    &-paper {
      display: inline-block;
      width: 90px;
      height: 125px;
      margin-right: 16px;
      object-fit: cover;
      box-shadow: 0 24px 29px rgba(210, 85, 95, 0.67);
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        box-shadow: none;
        text-decoration: none;
      }
    }
    &-button {
      display: inline-block;
      padding: 22px 40px;
      box-shadow: 0 24px 29px rgba(210, 85, 95, 0.67);
      border-radius: 999rem;
      background-color: #ffcc00;
      color: #4c0a49;
      font-size: 14px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 1.05px;
      text-align: center;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        box-shadow: none;
        text-decoration: none;
      }
    }
  }
}

.e-title {
  display: block;
  position: relative;
  margin-bottom: 80px;
  color: #5b1658;
  font-size: 36px;
  font-weight: 400;
  font-weight: 300;
  text-align: center;
  b,
  strong {
    font-weight: 800;
  }
  &:after {
    display: block;
    position: absolute;
    content: '';
    left: 50%;
    top: 100%;
    width: 92px;
    height: 5px;
    margin-top: 20px;
    margin-left: -46px;
    background-color: #ff7f89;
  }
}

.e-services {
  display: block;
  padding: 75px 0 100px 0;
  background: url('../images/services_bg.jpg') no-repeat center;
  background-size: cover;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
  }
  &__card {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 25px;
    box-shadow: 0 57px 90px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: #ffffff;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
      text-decoration: none;
    }
    &-left {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      max-width: 500px;
      padding: 60px 100px 35px 75px;
    }
    &-image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-right {
      display: block;
      width: 100%;
      max-width: 610px;
      height: 100%;
      border-radius: 0 5px 5px 0;
      img {
        border-radius: 0 5px 5px 0;
      }
      .slick-prev {
        top: auto;
        bottom: 0;
        right: 75px;
        left: auto;
        width: 75px;
        height: 63px;
        background: url('../images/icon_prev_2.png') no-repeat center;
        background-size: contain;
        z-index: 1;
        transform: none;
        transition: all 0.15s ease-out;
        &:hover {
          opacity: 0.8;
          text-decoration: none;
        }
        &:before {
          display: none;
        }
      }
      .slick-next {
        top: auto;
        bottom: 0;
        right: 0;
        left: auto;
        width: 75px;
        height: 63px;
        background: url('../images/icon_next_2.png') no-repeat center;
        background-size: contain;
        z-index: 1;
        transform: none;
        transition: all 0.15s ease-out;
        &:hover {
          opacity: 0.8;
          text-decoration: none;
        }
        &:before {
          display: none;
        }
      }
    }
    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }
    &-title {
      display: block;
      margin-bottom: 18px;
      color: #ff7f89;
      font-size: 30px;
      font-weight: 800;
    }
    &-text {
      display: block;
      margin-bottom: 20px;
      color: #010101;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.4;
    }
    &-price {
      display: inline-block;
      color: #ff7f89;
      font-size: 30px;
      font-weight: 800;
    }
    &-button {
      display: inline-block;
      padding: 16px 34px;
      border-radius: 999rem;
      background-color: #ffcc00;
      color: #4c0a49;
      font-size: 14px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.78px;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
}

.table tr:first-child th:first-child {
  border-top-left-radius: 5px;
}

.table tr:first-child th:last-child {
  border-top-right-radius: 5px;
}

.table thead {
  background-color: #ff7f89;
}

.table thead th {
  padding: 18px 35px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

.table tbody td,
.table tbody th {
  padding: 18px 35px;
  border: none;
  border-bottom: 1px solid #eeeeee;
  background-color: #f6f6f6;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}

.e-prices {
  display: block;
  padding: 70px 0 80px 0;
  background-color: #ffffff;
}

.e-form {
  display: block;
  padding: 70px 0 80px 0;
  background: url('../images/form_bg.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 22px;
    color: #fffefe;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
  }
  &__text {
    display: block;
    margin-bottom: 28px;
    color: #fffefe;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }
  &__sale {
    display: block;
    margin-bottom: 8px;
    color: #fffeff;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    text-align: center;
  }
  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 820px;
    margin: 0 auto;
     ::-webkit-input-placeholder {
      color: #000000;
    }
     ::-moz-placeholder {
      color: #000000;
    }
    /* Firefox 19+ */
     :-moz-placeholder {
      color: #000000;
    }
    /* Firefox 18- */
     :-ms-input-placeholder {
      color: #000000;
    }
    input {
      display: block;
      width: 100%;
      max-width: 270px;
      padding: 16px 22px;
      border: none;
      outline: none;
      border-radius: 5px;
      background-color: #ffffff;
      color: #000000;
      font-size: 14px;
      font-weight: 300;
    }
    button {
      display: block;
      width: 100%;
      max-width: 270px;
      padding: 15px;
      border: none;
      outline: none;
      border-radius: 999rem;
      background-color: #ffcc00;
      color: #4c0a49;
      font-size: 14px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 1.05px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
}

.e-seo {
  display: block;
  &__title {
    display: block;
    margin-bottom: 20px;
    color: #000000;
    font-size: 30px;
    font-weight: 300;
  }
  &__content {
    display: block;
    padding: 120px 0 100px 0;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    font-weight: 300;
    p {
      margin-bottom: 20px;
    }
    b,
    strong {
      font-weight: 700;
    }
  }
}

.e-footer {
  display: block;
  position: relative;
  &__map {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__block {
    display: inline-flex;
    position: relative;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
    min-height: 515px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    &>span,
    div {
      max-width: 330px;
    }
  }
  &__phone {
    display: block;
    margin-bottom: 8px;
    padding-left: 40px;
    background: url('../images/icon_phone.png') no-repeat left center;
    color: #4d4d4d;
    font-size: 27px;
    font-weight: 500;
    text-align: right;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  &__text {
    display: block;
    margin: 0;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }
  form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
     ::-webkit-input-placeholder {
      color: #000000;
    }
     ::-moz-placeholder {
      color: #000000;
    }
    /* Firefox 19+ */
     :-moz-placeholder {
      color: #000000;
    }
    /* Firefox 18- */
     :-ms-input-placeholder {
      color: #000000;
    }
    input {
      display: block;
      width: 100%;
      max-width: 270px;
      margin-bottom: 4px;
      padding: 16px 22px;
      border: 1px solid #ffcc00;
      outline: none;
      border-radius: 5px;
      background-color: #ffffff;
      color: #000000;
      font-size: 14px;
      font-weight: 300;
    }
    button {
      display: block;
      width: 100%;
      max-width: 270px;
      padding: 15px;
      border: none;
      outline: none;
      border-radius: 5px;
      background-color: #ffcc00;
      color: #4c0a49;
      font-size: 14px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 1.05px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.15s ease-out;
      &:hover,
      &:active,
      &:focus {
        opacity: 0.8;
        text-decoration: none;
      }
    }
  }
}

.e-modal {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 70px;
  .close {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    right: 25px;
    top: 25px;
    background: transparent;
    cursor: pointer;
  }
  &__title {
    display: block;
    margin-bottom: 20px;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
  }
  p {
    display: block;
    margin-bottom: 30px;
    color: #666565;
    font-size: 16px;
    font-weight: 300;
  }
  form {
    display: block;
    width: 100%;
    max-width: 405px;
  }
  input {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 16px 26px;
    outline: 0;
    border-radius: 10px;
    border: 1px solid #e9e9e9;
    background-color: rgba(255, 222, 0, 0);
    color: #666565;
    font-size: 16px;
    font-weight: 300;
    transition: all 0.15s ease-out;
    &:focus {
      border-color: #ffcc00;
    }
  }
  textarea {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    padding: 16px 26px;
    outline: 0;
    border-radius: 10px;
    border: 1px solid #e9e9e9;
    background-color: rgba(255, 222, 0, 0);
    color: #666565;
    font-size: 16px;
    font-weight: 300;
    transition: all 0.15s ease-out;
    &:focus {
      border-color: #ffcc00;
    }
  }
  &__button {
    display: block;
    width: 100%;
    padding: 17px 32px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    background-color: #ffcc00;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.15s ease-out;
    &:hover {
      background-color: #ffcc00;
    }
  }
}

.e-slider {
  width: 100%;
  margin: 40px auto;
  .item {
    width: 100%;
    height: 600px;
    border-radius: 4px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      object-fit: cover;
      object-position: center top;
    }
  }
  .slick-prev {
    top: auto;
    bottom: 0;
    right: 75px;
    left: auto;
    width: 75px;
    height: 63px;
    background: url('../images/icon_prev_2.png') no-repeat center;
    background-size: contain;
    z-index: 1;
    transform: none;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
  }
  .slick-next {
    top: auto;
    bottom: 0;
    right: 0;
    left: auto;
    width: 75px;
    height: 63px;
    background: url('../images/icon_next_2.png') no-repeat center;
    background-size: contain;
    z-index: 1;
    transform: none;
    transition: all 0.15s ease-out;
    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
    &:before {
      display: none;
    }
  }
}

.e-footer__cards {
  display: block;
  margin: 20px 0 0 0;
}

.e-footer__card {
  display: inline-block;
  width: 100%;
  max-width: 95px;
  height: 135px;
  margin: 0 12px 0 0;
}

.e-footer__card>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.e-epil {
  display: block;
  padding: 250px 0 110px 0;
  background: url('../images/epil_top.jpg') no-repeat center;
  background-size: cover;
  &>.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
  }
  &__block {
    display: block;
    width: 100%;
    max-width: 865px;
    padding: 64px 20px 70px 40px;
    background-color: rgba(191, 85, 119, 0.68);
  }
  &__title {
    display: block;
    margin-bottom: 25px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.24;
  }
  &__text {
    display: block;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 29px;
    line-height: 1.15;
    font-weight: 300;
    span,
    b,
    strong {
      color: #ffcc00;
      font-weight: 700;
    }
  }
  &__link {
    display: inline-block;
    padding: 20px 47px;
    border-radius: 999rem;
    box-shadow: 0 24px 29px rgba(172, 91, 129, 0.67);
    background-color: #ffcc00;
    color: #8f4071;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
      text-decoration: none;
    }
  }
}

.e-why {
  display: block;
  padding: 70px 0 50px 0;
  background: #f7f7f7;
  &__title {
    display: block;
    margin-bottom: 22px;
    color: #5b1658;
    font-size: 36px;
    font-weight: 800;
  }
  img {
    display: block;
    max-width: 100%;
    margin: 15px auto;
  }
  &__plus-title {
    display: block;
    margin-bottom: 26px;
    color: #00b087;
    font-size: 24px;
    font-weight: 800;
  }
  &__minus-title {
    display: block;
    margin-bottom: 26px;
    color: #f65a48;
    font-size: 24px;
    font-weight: 800;
  }
  &__plus {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      min-height: 46px;
      margin-bottom: 20px;
      padding-left: 40px;
      background: url('../images/icon_plus.png') no-repeat left top;
      color: #000000;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.33;
    }
  }
  &__minus {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      min-height: 46px;
      margin-bottom: 20px;
      padding-left: 40px;
      background: url('../images/icon_minus.png') no-repeat left top;
      color: #000000;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.33;
    }
  }
}

.e-special {
  display: block;
  padding: 0;
  background: url('../images/special_bg.jpg') no-repeat center;
  background-size: cover;
  &__block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 890px;
    margin: 0 auto;
    padding: 65px 110px 65px 120px;
    background: rgba(255, 255, 255, 0.85);
  }
  &__title {
    display: block;
    margin-bottom: 65px;
    color: #5b1658;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    span,
    b,
    strong {
      font-weight: 800;
    }
  }
  &__sub-title {
    display: block;
    margin-bottom: 14px;
    color: #5b1658;
    font-size: 30px;
    font-weight: 800;
  }
  &__ul {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      position: relative;
      margin-bottom: 45px;
      padding-left: 40px;
      background: url('../images/icon_sq.png') no-repeat left 8px;
      color: #000000;
      font-size: 24px;
      p {
        display: block;
        margin: 0;
        font-weight: 300;
      }
      b,
      strong {
        font-weight: 800;
      }
    }
  }
  &__price {
    span {
      text-decoration: line-through;
    }
  }
  &__rest {
    display: block;
    margin-bottom: 16px;
    color: #5b1658;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
  }
  &__button {
    display: inline-block;
    padding: 20px 47px;
    border-radius: 999rem;
    box-shadow: 0 24px 29px rgba(172, 91, 129, 0.67);
    background-color: #ffcc00;
    color: #8f4071;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
      text-decoration: none;
    }
  }
}

.e-masters {
  display: block;
  padding: 50px 0;
  background: url('../images/masters_bg.jpg') no-repeat center;
  background-size: cover;
  &__title {
    display: block;
    margin-bottom: 40px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    span,
    b,
    strong {
      font-weight: 800;
    }
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 890px;
    margin: 0 auto;
  }
  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 380px;
    margin-bottom: 40px;
    &-image {
      display: block;
      width: 100%;
      height: 420px;
      margin-bottom: 24px;
      border-radius: 3px;
      object-fit: cover;
      object-position: center;
    }
    &-title {
      display: block;
      margin-bottom: 14px;
      color: #fefefe;
      font-size: 30px;
      font-weight: 300;
    }
    &-who {
      display: block;
      margin-bottom: 18px;
      color: #fefefe;
      font-size: 12px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.9px;
    }
    &-description {
      display: block;
      color: #fffefe;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.38;
      text-align: center;
    }
  }
}

.e-feedback {
  display: block;
  padding: 20px 0 60px 0;
  &__title {
    display: block;
    position: relative;
    margin-bottom: 110px;
    color: #5b1658;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    &:after {
      display: block;
      position: absolute;
      content: '';
      left: 50%;
      top: 100%;
      width: 90px;
      height: 5px;
      margin-top: 20px;
      margin-left: -45px;
      background: #ff7f89;
    }
  }
  .container {
    position: relative;
  }
  &__cards {
    display: block;
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    .slick-prev {
      top: 50%;
      bottom: auto;
      right: auto;
      left: 0;
      width: 26px;
      height: 49px;
      margin-top: -25px;
      margin-left: -100px;
      background: url('../images/icon_prev_3.png') no-repeat center;
      background-size: contain;
      z-index: 1;
      transform: none;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
    }
    .slick-next {
      top: 50%;
      bottom: auto;
      right: 0;
      left: auto;
      width: 27px;
      height: 49px;
      margin-top: -25px;
      margin-right: -100px;
      background: url('../images/icon_next_3.png') no-repeat center;
      background-size: contain;
      z-index: 1;
      transform: none;
      transition: all 0.15s ease-out;
      &:hover {
        opacity: 0.8;
        text-decoration: none;
      }
      &:before {
        display: none;
      }
    }
  }
  &__card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-image {
      display: inline-block;
      width: 245px;
      height: 245px;
      margin-right: 80px;
      border-radius: 3px;
      object-fit: cover;
      object-position: center;
    }
    &-description {
      display: block;
      width: 100%;
    }
    &-title {
      display: block;
      margin-bottom: 20px;
      color: #000000;
      font-size: 24px;
      font-weight: 400;
    }
    &-text {
      display: block;
      margin: 0;
      color: #000000;
      font-size: 18px;
      font-weight: 300;
      line-height: 1.44;
    }
  }
}