@media (max-width: 1199px) {
  .e-header {
    position: relative;
    &__logo {
      position: relative;
      margin: 0 auto;
      left: auto;
      top: auto;
      img {
        max-width: 200px;
      }
    }
    &__left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0;
    }
    &__right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0;
      text-align: center;
    }
    &__nav {
      display: flex;
      max-width: auto;
      width: 100%;
      justify-content: space-around;
      text-align: center;
    }
  }
  .e-header>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .e-top {
    padding: 30px 0;
  }
  .e-top__title {
    font-size: 32px;
  }
  .e-features {
    padding-top: 30px;
    &__cards {
      justify-content: space-around;
    }
    &__card {
      margin-bottom: 20px;
    }
  }
  .e-doctors__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .e-doctors__card-photo {
    width: 180px;
    height: 240px;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .e-doctors__card-content {
    text-align: center;
  }
  .e-doctors {
    padding: 20px 0;
  }
  .e-doctors__cards .slick-next {
    top: 40%;
    margin-right: 0;
  }
  .e-doctors__cards .slick-prev {
    top: 40%;
    margin-left: 0;
  }
  .e-services {
    padding: 30px 0;
  }
  .e-title {
    margin-bottom: 60px;
    font-size: 32px;
  }
  .e-services__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .e-services__card-left {
    padding: 20px 30px;
  }
  .e-prices {
    padding: 30px 0;
  }
  .table {
    margin: 0 auto;
  }
  .e-form {
    padding: 30px 0;
    form {
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      input {
        margin-bottom: 4px;
      }
    }
  }
  .h-hide-mobile {
    display: none;
  }
  .e-seo__content {
    padding: 30px 0;
  }
  .e-footer__block {
    min-height: 300px;
  }
  .e-footer__map {
    position: relative;
    width: 100%;
    height: 300px;
  }
  .e-header__phone {
    font-size: 24px;
    text-align: left;
  }
  .e-footer__phone {
    font-size: 24px;
    text-align: left;
  }
  .e-seo__title {
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
  }
  .e-services__card {
    width: 100%;
  }
  .e-services__card-right {
    max-width: auto !important;
    height: auto !important;
    width: 100%;
  }
  .table {
    display: block !important;
    width: 100% !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch !important;
    -ms-overflow-style: -ms-autohiding-scrollbar !important;
  }
  .e-header__place {
    display: none;
    font-size: 14px;
  }
  .e-header__logo img {
    max-width: 120px;
  }
  .e-top__title {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .e-header {
    padding: 0;
  }
  .e-modal {
    padding: 40px;
  }
  .e-slider {
    width: 100%;
    margin: 40px 0 0 0;
    .item {
      height: 300px;
    }
  }
  .e-top {
    padding: 15px 0;
  }
  .e-top__text {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .e-top__button {
    padding: 14px 60px;
  }
  br {
    content: ' ' !important;
  }
  .e-epil {
    padding: 20px 0;
    &__block {
      padding: 20px 30px;
    }
  }
  .e-epil__title {
    font-size: 32px;
  }
  .e-why {
    padding: 20px 0;
  }
  .e-special {
    padding: 20px 0;
    &__block {
      padding: 20px 30px;
    }
  }
  .e-special__title {
    margin-bottom: 30px;
    font-size: 32px;

  }
  .e-masters {
    padding: 30px 0 10px 0;
  }
  .e-feedback__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .e-feedback__title {
    margin-bottom: 50px;
  }
  .e-feedback__card-title {
    margin: 10px 0 15px 0;
    text-align: center;
  }
  .e-feedback__card-image {
    margin-right: 0;
  }
  .e-feedback__cards .slick-next {
    top: 110px;
    margin-right: 0;
  }
  .e-feedback__cards .slick-prev {
    top: 110px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}