@font-face {
  src: url("../fonts/Lato-Medium.woff");
  font-family: "Lato";
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Lato-Thin.woff");
  font-family: "Lato";
  font-weight: 300;
}

@font-face {
  src: url("../fonts/Lato-Semibold.woff");
  font-family: "Lato";
  font-weight: 500;
}

@font-face {
  src: url("../fonts/Lato-Bold.woff");
  font-family: "Lato";
  font-weight: 700;
}

@font-face {
  src: url("../fonts/Lato-Heavy.woff");
  font-family: "Lato";
  font-weight: 800;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.e-header {
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  background-color: #ffffff;
  z-index: 99;
  transition: all 0.15s ease-out;
}

.e-header>.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.e-header__left {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  margin-right: 140px;
}

.e-header__right {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: right;
  -ms-flex-align: right;
  align-items: right;
  margin-left: 140px;
  text-align: right;
}

.e-header__logo {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -139px;
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.e-header__logo:hover,
.e-header__logo:active,
.e-header__logo:focus {
  opacity: 0.8;
  text-decoration: none;
}

.e-header__logo img {
  transition: all 0.15s ease-out;
}

.e-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 300px;
}

.e-header__nav a {
  display: inline-block;
  padding: 6px 2px;
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.e-header__nav a:hover,
.e-header__nav a:active,
.e-header__nav a:focus {
  opacity: 0.8;
  text-decoration: none;
}

.e-header__phone {
  display: block;
  margin-bottom: 8px;
  padding-left: 40px;
  background: url("../images/icon_phone.png") no-repeat left center;
  color: #4d4d4d;
  font-size: 27px;
  font-weight: 500;
  text-align: right;
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.e-header__phone:hover,
.e-header__phone:active,
.e-header__phone:focus {
  opacity: 0.8;
  text-decoration: none;
}

.e-header__place {
  display: block;
  margin: 0;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
}

.e-top {
  display: block;
  padding: 250px 0 295px 0;
  background: url("../images/top.jpg") no-repeat center;
  background-size: cover;
}

.e-top>.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.e-top__content {
  display: block;
  width: 100%;
  max-width: 750px;
}

.e-top__title {
  display: block;
  margin-bottom: 25px;
  color: #ffffff;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.25;
}

.e-top__text {
  display: block;
  margin-bottom: 26px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
}

.e-top__button {
  display: inline-block;
  padding: 20px 47px;
  border-radius: 999rem;
  box-shadow: 0 24px 29px rgba(172, 91, 129, 0.67);
  background-color: #ffcc00;
  color: #8f4071;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.e-top__button:hover,
.e-top__button:active,
.e-top__button:focus {
  box-shadow: none;
  text-decoration: none;
}

.e-features {
  display: block;
  padding: 80px 0 0 0;
  background-color: #ffffff;
}

.e-features__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.e-features__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 275px;
  margin: 0 20px 70px 20px;
  text-align: center;
}

.e-features__card img {
  display: block;
  max-width: 100%;
  margin-bottom: 20px;
}

.e-features__card-title {
  display: block;
  margin-bottom: 6px;
  color: #c25778;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}

.e-features__card-text {
  display: block;
  color: #000000;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
}

.e-doctors {
  display: block;
  padding: 80px 0 50px 0;
  background: url("../images/peoples_bg.jpg") no-repeat center;
  background-size: cover;
}

.e-doctors__cards {
  display: block;
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
}

.e-doctors__cards .slick-prev {
  top: 50%;
  bottom: auto;
  right: auto;
  left: 0;
  width: 26px;
  height: 49px;
  margin-top: -25px;
  margin-left: -100px;
  background: url("../images/icon_prev.png") no-repeat center;
  background-size: contain;
  z-index: 1;
  -webkit-transform: none;
  transform: none;
  transition: all 0.15s ease-out;
}

.e-doctors__cards .slick-prev:hover {
  opacity: 0.8;
  text-decoration: none;
}

.e-doctors__cards .slick-prev:before {
  display: none;
}

.e-doctors__cards .slick-next {
  top: 50%;
  bottom: auto;
  right: 0;
  left: auto;
  width: 27px;
  height: 49px;
  margin-top: -25px;
  margin-right: -100px;
  background: url("../images/icon_next.png") no-repeat center;
  background-size: contain;
  z-index: 1;
  -webkit-transform: none;
  transform: none;
  transition: all 0.15s ease-out;
}

.e-doctors__cards .slick-next:hover {
  opacity: 0.8;
  text-decoration: none;
}

.e-doctors__cards .slick-next:before {
  display: none;
}

.e-doctors__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-bottom: 30px;
}

.e-doctors__card-photo {
  display: block;
  width: 380px;
  height: 415px;
  margin-right: 80px;
  border-radius: 3px;
  background-color: #ffffff;
  -o-object-fit: cover;
  object-fit: cover;
}

.e-doctors__card-content {
  display: block;
  padding-right: 20px;
}

.e-doctors__card-name {
  display: block;
  margin-bottom: 15px;
  color: #fefefe;
  font-size: 30px;
  font-weight: 300;
}

.e-doctors__card-who {
  display: block;
  margin-bottom: 30px;
  color: #fefefe;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.e-doctors__card-text {
  display: block;
  margin-bottom: 28px;
  color: #fffefe;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}

.e-doctors__card-papers {
  display: block;
  margin-bottom: 35px;
}

.e-doctors__card-paper {
  display: inline-block;
  width: 90px;
  height: 125px;
  margin-right: 16px;
  -o-object-fit: cover;
  object-fit: cover;
  box-shadow: 0 24px 29px rgba(210, 85, 95, 0.67);
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.e-doctors__card-paper:hover,
.e-doctors__card-paper:active,
.e-doctors__card-paper:focus {
  box-shadow: none;
  text-decoration: none;
}

.e-doctors__card-button {
  display: inline-block;
  padding: 22px 40px;
  box-shadow: 0 24px 29px rgba(210, 85, 95, 0.67);
  border-radius: 999rem;
  background-color: #ffcc00;
  color: #4c0a49;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.e-doctors__card-button:hover,
.e-doctors__card-button:active,
.e-doctors__card-button:focus {
  box-shadow: none;
  text-decoration: none;
}

.e-title {
  display: block;
  position: relative;
  margin-bottom: 80px;
  color: #5b1658;
  font-size: 36px;
  font-weight: 400;
  font-weight: 300;
  text-align: center;
}

.e-title b,
.e-title strong {
  font-weight: 800;
}

.e-title:after {
  display: block;
  position: absolute;
  content: '';
  left: 50%;
  top: 100%;
  width: 92px;
  height: 5px;
  margin-top: 20px;
  margin-left: -46px;
  background-color: #ff7f89;
}

.e-services {
  display: block;
  padding: 75px 0 100px 0;
  background: url("../images/services_bg.jpg") no-repeat center;
  background-size: cover;
}

.e-services__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.e-services__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-bottom: 25px;
  box-shadow: 0 57px 90px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background-color: #ffffff;
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.e-services__card:hover,
.e-services__card:active,
.e-services__card:focus {
  box-shadow: none;
  text-decoration: none;
}

.e-services__card-left {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  max-width: 500px;
  padding: 60px 100px 35px 75px;
}

.e-services__card-image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.e-services__card-right {
  display: block;
  width: 100%;
  max-width: 610px;
  height: 100%;
  border-radius: 0 5px 5px 0;
}

.e-services__card-right img {
  border-radius: 0 5px 5px 0;
}

.e-services__card-right .slick-prev {
  top: auto;
  bottom: 0;
  right: 75px;
  left: auto;
  width: 75px;
  height: 63px;
  background: url("../images/icon_prev_2.png") no-repeat center;
  background-size: contain;
  z-index: 1;
  -webkit-transform: none;
  transform: none;
  transition: all 0.15s ease-out;
}

.e-services__card-right .slick-prev:hover {
  opacity: 0.8;
  text-decoration: none;
}

.e-services__card-right .slick-prev:before {
  display: none;
}

.e-services__card-right .slick-next {
  top: auto;
  bottom: 0;
  right: 0;
  left: auto;
  width: 75px;
  height: 63px;
  background: url("../images/icon_next_2.png") no-repeat center;
  background-size: contain;
  z-index: 1;
  -webkit-transform: none;
  transform: none;
  transition: all 0.15s ease-out;
}

.e-services__card-right .slick-next:hover {
  opacity: 0.8;
  text-decoration: none;
}

.e-services__card-right .slick-next:before {
  display: none;
}

.e-services__card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.e-services__card-title {
  display: block;
  margin-bottom: 18px;
  color: #ff7f89;
  font-size: 30px;
  font-weight: 800;
}

.e-services__card-text {
  display: block;
  margin-bottom: 20px;
  color: #010101;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
}

.e-services__card-price {
  display: inline-block;
  color: #ff7f89;
  font-size: 30px;
  font-weight: 800;
}

.e-services__card-button {
  display: inline-block;
  padding: 16px 34px;
  border-radius: 999rem;
  background-color: #ffcc00;
  color: #4c0a49;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.78px;
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.e-services__card-button:hover,
.e-services__card-button:active,
.e-services__card-button:focus {
  opacity: 0.8;
  text-decoration: none;
}

.table tr:first-child th:first-child {
  border-top-left-radius: 5px;
}

.table tr:first-child th:last-child {
  border-top-right-radius: 5px;
}

.table thead {
  background-color: #ff7f89;
}

.table thead th {
  padding: 18px 35px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

.table tbody td,
.table tbody th {
  padding: 18px 35px;
  border: none;
  border-bottom: 1px solid #eeeeee;
  background-color: #f6f6f6;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
}

.e-prices {
  display: block;
  padding: 70px 0 80px 0;
  background-color: #ffffff;
}

.e-form {
  display: block;
  padding: 70px 0 80px 0;
  background: url("../images/form_bg.jpg") no-repeat center;
  background-size: cover;
}

.e-form__title {
  display: block;
  margin-bottom: 22px;
  color: #fffefe;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.e-form__text {
  display: block;
  margin-bottom: 28px;
  color: #fffefe;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.e-form__sale {
  display: block;
  margin-bottom: 8px;
  color: #fffeff;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  text-align: center;
}

.e-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  /* Firefox 19+ */
  /* Firefox 18- */
}

.e-form form ::-webkit-input-placeholder {
  color: #000000;
}

.e-form form ::-moz-placeholder {
  color: #000000;
}

.e-form form :-moz-placeholder {
  color: #000000;
}

.e-form form :-ms-input-placeholder {
  color: #000000;
}

.e-form form input {
  display: block;
  width: 100%;
  max-width: 270px;
  padding: 16px 22px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
}

.e-form form button {
  display: block;
  width: 100%;
  max-width: 270px;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 999rem;
  background-color: #ffcc00;
  color: #4c0a49;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.e-form form button:hover,
.e-form form button:active,
.e-form form button:focus {
  opacity: 0.8;
  text-decoration: none;
}

.e-seo {
  display: block;
}

.e-seo__title {
  display: block;
  margin-bottom: 20px;
  color: #000000;
  font-size: 30px;
  font-weight: 300;
}

.e-seo__content {
  display: block;
  padding: 120px 0 100px 0;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  font-weight: 300;
}

.e-seo__content p {
  margin-bottom: 20px;
}

.e-seo__content b,
.e-seo__content strong {
  font-weight: 700;
}

.e-footer {
  display: block;
  position: relative;
}

.e-footer__map {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.e-footer__block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  min-height: 515px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
}

.e-footer__block>span,
.e-footer__block div {
  max-width: 330px;
}

.e-footer__phone {
  display: block;
  margin-bottom: 8px;
  padding-left: 40px;
  background: url("../images/icon_phone.png") no-repeat left center;
  color: #4d4d4d;
  font-size: 27px;
  font-weight: 500;
  text-align: right;
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.e-footer__phone:hover,
.e-footer__phone:active,
.e-footer__phone:focus {
  opacity: 0.8;
  text-decoration: none;
}

.e-footer__text {
  display: block;
  margin: 0;
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.e-footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
  /* Firefox 19+ */
  /* Firefox 18- */
}

.e-footer form ::-webkit-input-placeholder {
  color: #000000;
}

.e-footer form ::-moz-placeholder {
  color: #000000;
}

.e-footer form :-moz-placeholder {
  color: #000000;
}

.e-footer form :-ms-input-placeholder {
  color: #000000;
}

.e-footer form input {
  display: block;
  width: 100%;
  max-width: 270px;
  margin-bottom: 4px;
  padding: 16px 22px;
  border: 1px solid #ffcc00;
  outline: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  font-weight: 300;
}

.e-footer form button {
  display: block;
  width: 100%;
  max-width: 270px;
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #ffcc00;
  color: #4c0a49;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.05px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.15s ease-out;
}

.e-footer form button:hover,
.e-footer form button:active,
.e-footer form button:focus {
  opacity: 0.8;
  text-decoration: none;
}

.e-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 70px;
}

.e-modal .close {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 25px;
  top: 25px;
  background: transparent;
  cursor: pointer;
}

.e-modal__title {
  display: block;
  margin-bottom: 20px;
  color: #000000;
  font-size: 30px;
  font-weight: 400;
}

.e-modal p {
  display: block;
  margin-bottom: 30px;
  color: #666565;
  font-size: 16px;
  font-weight: 300;
}

.e-modal form {
  display: block;
  width: 100%;
  max-width: 405px;
}

.e-modal input {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  padding: 16px 26px;
  outline: 0;
  border-radius: 10px;
  border: 1px solid #e9e9e9;
  background-color: rgba(255, 222, 0, 0);
  color: #666565;
  font-size: 16px;
  font-weight: 300;
  transition: all 0.15s ease-out;
}

.e-modal input:focus {
  border-color: #ffcc00;
}

.e-modal textarea {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  padding: 16px 26px;
  outline: 0;
  border-radius: 10px;
  border: 1px solid #e9e9e9;
  background-color: rgba(255, 222, 0, 0);
  color: #666565;
  font-size: 16px;
  font-weight: 300;
  transition: all 0.15s ease-out;
}

.e-modal textarea:focus {
  border-color: #ffcc00;
}

.e-modal__button {
  display: block;
  width: 100%;
  padding: 17px 32px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  background-color: #ffcc00;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.15s ease-out;
}

.e-modal__button:hover {
  background-color: #ffcc00;
}

.e-slider {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  margin: 40px auto;
}

.e-slider .item {
  width: 100%;
  height: 600px;
  border-radius: 4px;
}

.e-slider .item img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.e-slider .slick-prev {
  top: auto;
  bottom: 0;
  right: 75px;
  left: auto;
  width: 75px;
  height: 63px;
  background: url("../images/icon_prev_2.png") no-repeat center;
  background-size: contain;
  z-index: 1;
  -webkit-transform: none;
  transform: none;
  transition: all 0.15s ease-out;
}

.e-slider .slick-prev:hover {
  opacity: 0.8;
  text-decoration: none;
}

.e-slider .slick-prev:before {
  display: none;
}

.e-slider .slick-next {
  top: auto;
  bottom: 0;
  right: 0;
  left: auto;
  width: 75px;
  height: 63px;
  background: url("../images/icon_next_2.png") no-repeat center;
  background-size: contain;
  z-index: 1;
  -webkit-transform: none;
  transform: none;
  transition: all 0.15s ease-out;
}

.e-slider .slick-next:hover {
  opacity: 0.8;
  text-decoration: none;
}

.e-slider .slick-next:before {
  display: none;
}

.e-footer__cards {
  display: block;
  margin: 20px 0 0 0;
}

.e-footer__card {
  display: inline-block;
  width: 100%;
  max-width: 85px;
  height: 120px;
  margin: 0 4px 0 0;
}

.e-footer__card>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

@media (max-width: 1199px) {
  .e-header {
    position: relative;
  }
  .e-header__logo {
    position: relative;
    margin: 0 auto;
    left: auto;
    top: auto;
  }
  .e-header__logo img {
    max-width: 200px;
  }
  .e-header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .e-header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .e-header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: auto;
    width: 100%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
  }
  .e-header>.container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .e-top {
    padding: 30px 0;
  }
  .e-top__title {
    font-size: 32px;
  }
  .e-features {
    padding-top: 30px;
  }
  .e-features__cards {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .e-features__card {
    margin-bottom: 20px;
  }
  .e-doctors__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .e-doctors__card-photo {
    width: 180px;
    height: 240px;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .e-doctors__card-content {
    text-align: center;
  }
  .e-doctors {
    padding: 20px 0;
  }
  .e-doctors__cards .slick-next {
    top: 40%;
    margin-right: 0;
  }
  .e-doctors__cards .slick-prev {
    top: 40%;
    margin-left: 0;
  }
  .e-services {
    padding: 30px 0;
  }
  .e-title {
    margin-bottom: 60px;
    font-size: 32px;
  }
  .e-services__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .e-services__card-left {
    padding: 20px 30px;
  }
  .e-prices {
    padding: 30px 0;
  }
  .table {
    margin: 0 auto;
  }
  .e-form {
    padding: 30px 0;
  }
  .e-form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .e-form form input {
    margin-bottom: 4px;
  }
  .h-hide-mobile {
    display: none;
  }
  .e-seo__content {
    padding: 30px 0;
  }
  .e-footer__block {
    min-height: 300px;
  }
  .e-footer__map {
    position: relative;
    width: 100%;
    height: 300px;
  }
  .e-header__phone {
    font-size: 24px;
    text-align: left;
  }
  .e-footer__phone {
    font-size: 24px;
    text-align: left;
  }
  .e-seo__title {
    font-size: 28px;
    line-height: 1.2;
    text-align: center;
  }
  .e-services__card {
    width: 100%;
  }
  .e-services__card-right {
    max-width: auto !important;
    height: auto !important;
    width: 100%;
  }
  .table {
    display: block !important;
    width: 100% !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch !important;
    -ms-overflow-style: -ms-autohiding-scrollbar !important;
  }
  .e-header__place {
    display: none;
    font-size: 14px;
  }
  .e-header__logo img {
    max-width: 120px;
  }
  .e-top__title {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .e-header {
    padding: 0;
  }
  .e-modal {
    padding: 40px;
  }
  .e-slider {
    width: 100%;
    margin: 40px 0 0 0;
  }
  .e-slider .item {
    height: 300px;
  }
  .e-top {
    padding: 15px 0;
  }
  .e-top__text {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .e-top__button {
    padding: 14px 60px;
  }
  br {
    content: ' ' !important;
  }
}