html,body,ul,ol,li,p,td,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,
article,aside,canvas,details,figure,figcaption,hgroup,footer,header,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,audio,video{display:block}
a img{border:none;cursor:pointer;text-decoration:none}
html{font-size:.812em}
body{background:url(../img/bg.gif);font-family:arial;}
@font-face {
    font-family: 'movavi';
    src: url('../fonts/movavi_grotesque_black-wf.eot');
    src: url('http://www.elki-43.ru/fonts/movavi_grotesque_black-wf?') format('embedded-opentype'),
         url('../fonts/movavi_grotesque_black-wf.woff') format('woff'),
         url('../fonts/movavi_grotesque_black-wf.ttf') format('truetype'),
         url('../fonts/movavi_grotesque_black-wf.svg') format('svg');
}
@font-face {
    font-family: 'pfdintextcondpro';
    src: url('../fonts/pfdintextcondpro-regular-webfont.ttf');
    src: url('http://www.elki-43.ru/fonts/pfdintextcondpro-regular-webfont?') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype'),
         url('http://www.elki-43.ru/fonts/pfdintextcondpro-regular-webfont.svg') format('svg');
}
@font-face {
    font-family: 'pfdintext-medium';
    src: url('../fonts/pfdintextcomppro-medium-webfont.ttf');
    src: url('http://www.elki-43.ru/fonts/pfdintextcomppro-medium-webfont?') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-medium-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-medium-webfont.ttf') format('truetype'),
         url('http://www.elki-43.ru/fonts/pfdintextcomppro-medium-webfont.svg') format('svg');
}
@font-face {
    font-family: 'pfdintext-thin';
    src: url('../fonts/pfdintextcondpro-thin-webfont.ttf');
     src: url('http://www.elki-43.ru/fonts/pfdintextcondpro-thin-webfont?') format('embedded-opentype'),
         url('../fonts/pfdintextcondpro-thin-webfont.woff') format('woff'),
         url('../fonts/pfdintextcondpro-thin-webfont.ttf') format('truetype'),
         url('http://www.elki-43.ru/fonts/pfdintextcondpro-thin-webfont.svg') format('svg');
}
@font-face {
    font-family: 'pfdintext-light';
    src: url('../fonts/pfdintextcomppro-light-webfont.ttf');
    src: url('http://www.elki-43.ru/fonts/pfdintextcomppro-light-webfont?') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-light-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-light-webfont.ttf') format('truetype'),
         url('http://www.elki-43.ru/fonts/pfdintextcomppro-light-webfont.svg') format('svg');
}
.clear{clear:both}
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.wrap{width:960px;margin:0 auto}
.wrap-bg{border-bottom: 1px solid #ccc; padding-bottom: 10px; overflow:hidden}
.sprite{background:url(../img/sprites.png) 0 0 no-repeat}
.b-logo{float:left;width:205px;height:140px;margin-left:35px;}
.s-logo{background-position:0 -249px}
.feedback{float:right;width:290px;height:100px;padding-top:42px;text-align:center}
.feedback-cal{font-size:33px;font-family:movavi;line-height:33px}
.b-count-sales{width:1350px;margin:0 auto;height:75px;padding-top:40px;text-transform:uppercase}
.count-sales-text{font-size:23px;font-family:movavi;text-align:center;line-height:29px}
.count-sales-text-strong{color:#22954d}
.b-page-title-border{width:100%;position:relative;text-align:center;font-weight:bold;font-size:30px}
.b-page-title-border:after, .b-page-title-border:before{content:'';background:#949797;width:385px;height:1px;display:inline-block;position:relative;top:-10px}
.b-page-title-border span{display:inline-block;margin:0 20px;color:#949797}
.b-page-title-text{text-transform:uppercase;color:#ed1c24;text-align:center;font-family:pfdintextcondpro;font-size:30px;line-height:45px;letter-spacing:2px}
.b-page-title-strong{font-family:movavi}
.b-discount{width:261px;height:490px;float:right;text-align:center;color:#fff;background:url(../img/bg-blue-strong.png)}
.b-discount p{text-transform:uppercase}
.b-discount-star{width:150px;margin:0 auto;font-size:14px;color:#fff;letter-spacing:55px;padding-top:13px}
.b-discount-star-bottom{padding:0}
.b-discount-text-yellow{color:#ffe400}
.b-discount-text-only{font-size:16px;margin-left:25px;font-family:pfdintextcondpro;letter-spacing:32px}
.b-discount-text-today{font-size:50px;font-family:'pfdintext-medium';letter-spacing:11px;margin-left:16px}
.b-discount-text-reduced{font-size:25px;font-family:'pfdintext-thin'}
.b-discount-text-the-most{font-size:33px;margin:5px 0;font-family:'pfdintext-medium';letter-spacing:14px;margin-left:18px}
.b-discount-text-popular{font-size:20px;font-family:'pfdintext-thin';letter-spacing:2px}
.b-discount-time{text-align:center;margin:0 auto;font-family:'pfdintext-medium';padding-top:20px;padding-left:10px}
.b-discount-time-i{font-size:30px;font-weight:bold;padding:0 2px;letter-spacing:1px;}
.b-discount-time-i-word{font-size:20px;padding:0}
.b-discount-f.feedback-form-i-text{width:177px;height:20px;margin:10px 0;font-size:16px;padding:5px 17px}
.b-goods {box-shadow: 0 0 10px #969696;height:490px;margin-right:261px;background:url(../img/bg-blue.png)}
.b-goods-i{width:31%;height:465px;float:left;display:table;}
.b-goods-i-more{width:31%;height:445px;display:table;}
.b-goodss{ padding-bottom: 15px; width:31%;height:100%;float:left;display:table; background:url(../img/hitbg.png) no-repeat;}
.b-goods-i-t-c{display:table-cell;vertical-align:bottom;text-align:center}
.b-goods-price{text-align:center;padding:8px 23px;background:#ffe400;display:inline-block;margin:0 auto;width:70px;border:1px solid #a6a6a6;border-radius:10px;font-size:20px}
.b-goods-price-more{color:#fff;text-align:center;padding:8px 23px;background:#03cd14;display:inline-block;margin:0 auto;width:70px;border:1px solid #a6a6a6;border-radius:10px;font-size:20px}
.b-goods-price-hit{font-family: 'pfdintext-medium'; text-align:center;padding:8px 23px;background:#ff0000;display:inline-block;margin:0 auto;width:70px;border:1px solid #a6a6a6;border-radius:10px;font-size:25px; color: #fff }
.b-goods-price{font-family:'pfdintext-thin';line-height:20px;font-weight:bold;line-height:20px}
.b-goods-price-past{text-decoration:line-through;font-size:16px}
.b-fir-tree{position:relative}
.b-fir-tree-hit:before{content:'';position:absolute;background:url(../img/sprites.png);background-position:-545px -150px;width:94px;height:94px}
.about-our-service{width:960px;height:190px;}
.about-our-service-i{width:31%;float:left;text-align:center;font-family:'pfdintext-thin';font-size:17px;padding-left:1%}
.about-our-service-i img{height:110px;margin-top:30px}
.about-our-service-i p{width:245px;margin:0 auto}
.certificate{background-position:-344px -122px}
.rocket{background-position:-396px 15px}
.pay{background-position:-274px 0}
.about-our-service-i-strong{font-family:'pfdintext-medium'}
.b-reasons-to-duy{padding:0 30px}
.b-reasons-to-duy-title{font-family:'pfdintext-medium';font-size:33px;text-align:center;margin-top:35px;text-transform:uppercase}
.b-reasons-to-duy-title:before, .b-reasons-to-duy-title:after{content:" ";display:inline-block;border-bottom:3px solid #000;width:85px;margin:0 35px;position:relative;top:-12px}
.b-reasons-i-title{font-family:'pfdintext-medium';font-size:17px;}
.b-reasons-i-text{font-family:'pfdintext-thin';font-size:17px}
.b-reasons-i-img{padding:25px}
.tick{background-position:-608px 0}
.money{background-position: -139px 0}
.b-working-about-wrap{outline:1px dashed #9d9e9e;outline-offset:-5px;background: url(../img/bg-silver.png);width:1010px;margin:30px 0 0 -25px;padding-bottom:40px}
.b-working-about{background:url(../img/rounded-rectangle.png) 35px 150px no-repeat;height:570px;position:relative}
.b-working-about-i p{font-family:'pfdintext-thin';font-size:21px;text-align:center}
.b-working-about-i{position:absolute;left:0;top:0}
.b-working-about-i:before{content:" ";position:absolute;background:url(../img/sprites.png) 0 0;top:-130px;left:50px}
.b-working-about-i-call{margin:149px 0px 0px 325px}
.b-working-about-i-call:before{width:104px;height:98px;background-position:-100px -120px;top:-119px;left:74px}
.b-working-about-i-delivery{margin:460px 0px 0px 510px}
.b-working-about-i-delivery:before{background-position:-225px -120px;width:105px;height:101px;top:-130px;left:50px}
.b-working-about-i-time{margin:150px 0px 0px 650px}
.b-working-about-i-time:before{background-position:0 -119px;width:88px;height:106px;top:-125px;left:20px}
.b-working-about-i-pay{margin:460px 0px 0px 110px}
.b-working-about-i-pay:before{background-position:-274px 0; width:117px;height:86px;top:-125px;left:107px}
.b-working-about-i-application{margin:160px 0px 0px 75px}
.b-working-about-i-application:before{background-position:0 0;width:127px;height:112px;top:-133px;left:40px}
.b-feedback-form{padding:0 10px;height:228px;outline:2px dashed #fff;outline-offset:-2px;margin:20px 0 30px;overflow:hidden}
.b-feedback-form.f-reasons-to-duy{background:url(../img/bg-out-fedback.png)}
.b-feedback-form.f-working-about{width:930px;margin:0 auto;background:url(../img/bg-working-about.png)}
.f-feedback-form{margin:30px 0 0 60px;width:315px;float:left}
.f-feedback-form .b-btn, .f-feedback-form .feedback-form-i-text{display:block}
.b-feedback-form-about{width:300px;padding-left:200px;float:left;position:relative;padding-top:30px}
.b-feedback-form-about:before{content:" ";background:url(../img/sprites.png)-503px -103px;width:137px;height:38px;position:absolute;top:50px;left:45px}
.b-feedback-form-about-text{font-family:pfdintextcondpro;font-size:22px;color:#333;text-align:center;line-height:110%}
.b-feedback-form-about-text-strong{font-family:'pfdintext-medium';color:#1c1c1c}
.feedback-form-i-text{width:263px;margin-left:2px;padding:10px 20px;border-radius:5px;border:1px solid #568694;color:#b3acb7;font-family:'pfdintext-light';font-size:22px}
.b-btn{background:url(../img/sprites.png) 0 0;outline:0;border:0;position:relative;cursor:pointer;text-transform:uppercase;font-family:'pfdintext-medium';color:#fff}
.b-btn:active{top:1px}
.bg-button-feedback-form{width:308px;height:68px;background-position:-235px -275px;font-size:35px;letter-spacing:1px;margin-top:10px}
.bg-button-tel{width:212px;height:40px;background-position:-235px -395px;font-size:18px;letter-spacing:2px}
.bg-button-time{width:221px;height:50px;background-position:-235px -343px;font-size:22px;letter-spacing:2px}
.b-fir-tree-more-wrap{box-shadow: 0 0 10px #969696; margin:30px auto;padding:40px;background:url(../img/bg-f-goods-more.png)}
.b-fir-tree-more-title{text-transform:uppercase;font-family:movavi;font-size:70px;color:#fff;}
.b-goods-more{margin-top:-50px}
.b-goods-more.b-goods-more-sup{margin-top:40px}
.b-feedback-form.f-goods-more{margin-top:60px;background:url(../img/bg-out-fedback.png);}
.b-feedback-form.f-goods-more .b-feedback-form-about{padding-left:170px}
.b-reviews{padding-top:35px}
.b-reviews-title{text-transform:uppercase;font-family:movavi;font-size:70px;color:#fff;}
.b-reviews-i{width:430px;height:500px;background:url(../img/bg-blue-strong.png);margin-bottom:40px;padding:25px 15px 0 15px;position:relative}
.b-reviews-i-l{float:left}
.b-reviews-i-r{float:right}
.b-reviews-img{width:160px;height:160px;background:#fff;overflow:hidden;border-radius:50%;float:left;margin:11px}
.b-reviews-i p{font-family:'pfdintext-thin';font-size:16px;color:#000;margin-bottom:10px}
.b-reviews-i-link-author{font-size:25px;font-family:'pfdintext-medium';color:#000;position:absolute;bottom:20px;right:20px}
.b-footer{padding:20px 0}
.b-footer-l{float:left;width:300px;}
.b-footer-r{float:right;width:320px}
.b-footer-copyright{width:200px;margin:0 auto}
.b-footer-l p, .b-footer-r p, .b-footer-copyright p{font-family:'pfdintext-thin';font-size:17px;}
.b-footer-r p{text-align:right;}
.how {font-family:'pfdintext-light';font-size: 20px;} 
.howtop {padding-top: 20px;} 


#callnow select {
  font-size: 18px;
  height: 44px;
  width: 305px;
  margin-left: 2px;
  margin-top: 4px;
  border: 1px solid #568694;
  border-radius: 5px;
  color: #b3acb7;
  font-family: "pfdintext-light";
  background-color: white;
}
.b-discount .this_is_my_lead_form>select {
  font-size: 16px;
  height: 34px;
  width: 217px;
  border: 1px solid #568694;
  border-radius: 5px;
  color: #b3acb7;
  font-family: "pfdintext-light";
  background-color: white;
}


#callnow select option{
    
}

